<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>checkout</title>
    <!-- <style>
        #box-container {
            width: 0%;
            margin: 5px;
            padding: 0% 5% ;
            /* background-color: goldenrod */
        }
    </style> -->

</head>

<body >
    <!-- <div>
        <h1><b>User Info</b></h1>
        <h2>User Name</h2>
        <input type="text" id="name" placeholder="user name">
        <br>
        <h2>Email</h2>
        <input type="text" id="email" placeholder="Email">
    </div>
    <hr> -->

    <div>
        <h1>Payment Info</h1>
        <h2>Ammount</h2>
        <input type="number" id="ammount" >
        <h2>Name on card</h2>
        <input type="text">
        <h3>Card No</h3>
        <input type="number">
        <h4>Cvv No</h4>
        <input type="number">
        <br>
        <br>
        <button type="button" id="btn">Submit</button>

    </div>
    <a href="/cart">back to cart</a>
    



</body>

</html>