<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>password</title>
    <style>
        #box-container{
            width: 0%;
            margin: 0px;
            padding: 0% 20% 2% ;
            background-color:salmon
        }
    </style>
</head>
<body >
    <div id="box-container">
    <h1>Give password</h1>
    <input type="text" id="pass" placeholder="password">
    <button type="button" id="btniuy-" >SUBMIT</button>
    </div>
</body>
</html>