<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <style>
        #box-container{
            width: 0%;
            margin: 0px;
            padding: 0% 20% 2% ;
            background-color:salmon
        }
    </style>
</head>

<body>
    <div id="box-container">
        <h1>Signup</h1>

        <input type="text" id="name" placeholder="NAME">
        <br>
        <br>
        <input type="text" id="email" placeholder="EMAIL">
        <br>
        <br>
        <input type="text" id="password" placeholder="PASSWORD">
        <br>
        <br>
        <input type="text" id="cpassword" placeholder="CPASSWORD">
        <br>
        <br>
        <button type="button" id="btn" onClick="tata()">SUBMIT</button>

    </div>
    <script src="/javascripts/axios.js"></script>
    <script src="/javascripts/signup.js"></script>



</body>

</html>