<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>userProduct</title>
</head>
<body onload="userProds()">
        <table>
                <thead>
                <tr>
                  <td><b>title</b></td>
                  <td><b>price</b></td>
                  <td><b>imageUrl</b></td>
                  <td><b>description</b></td>
                  <button><a href="/cart">Go to Cart</a></button>
                </tr>
              </thead>
              <tbody id="productTableBody">
                
              </tbody>
            </table>
           
    
</body>
<script src="/javascripts/axios.js"></script>
<script src="/javascripts/userProduct.js"></script>
</html>