<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>userProduct</title>
  <script type = "text/javascript" >
  function noBack()
{
   window.history.forward()
}
noBack();
window.onload = noBack;
window.onpageshow = function(evt){ if(evt.persisted) noBack(); }
window.onunload = function(){ void(0); }
    
    
    </script>
      <script src="Scripts/jquery-1.7.1.js"></script>
</head>
<body onload="userProds(),changeHashOnLoad()">
        <table>
                <thead>
                <tr>
                  <td><b>title</b></td>
                  <td><b>price</b></td>
                  <td><b>imageUrl</b></td>
                  <td><b>description</b></td>
                  <button><a href="/cart">Go to Cart</a></button>
                </tr>
              </thead>
              <tbody id="productTableBody">
                
              </tbody>
            </table>
           
    
</body>
<script src="/javascripts/axios.js"></script>
<script src="/javascripts/userProduct.js"></script>
</html>